table.cinereousTable {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border: 6px solid #948473;
  background-color: #FFF4ED;
  width: 100%;
  text-align: center;
}
table.cinereousTable td, table.cinereousTable th {
  border: 1px solid #796755;
  padding: 7px 4px;
}
table.cinereousTable tbody td {
  font-size: 23px;
}
table.cinereousTable thead {
  background: #796755;
  background: -moz-linear-gradient(top, #9a8d7f 0%, #867666 66%, #796755 100%);
  background: -webkit-linear-gradient(top, #9a8d7f 0%, #867666 66%, #796755 100%);
  background: linear-gradient(to bottom, #9a8d7f 0%, #867666 66%, #796755 100%);
}
table.cinereousTable thead th {
  font-size: 18px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
}
table.cinereousTable tfoot td {
  font-size: 16px;
}

.container{
  background-color: rgb(111, 106, 116);
  margin: 3em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 3px;
}
