.button-container {
    display: grid;
    grid-template-areas:    'zone1 zone2 zone3 zone4 zone5 zone6';
    grid-gap: .4em;
    align-content: center;
    background-color: rgb(111, 106, 116);
    padding: .3em;
}

.grid-container {
    display: grid;
    grid-template-areas:    'zone1 zone2 zone3 zone4 zone5 zone6 zone7';
    grid-gap: .1em;
    align-content: center;
    background-color: rgb(111, 106, 116);
}

.grid-container > div {
    background-color: rgb(197, 192, 201);
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    color:rgb(148, 94, 14);
    width: 6em;
    height: 6em;
}

button {
    margin: .3em;
    background-color: rgb(197, 192, 201);
    display: grid;
    text-align: center;
    align-content: center;
    font-size: 2em;
    padding: .2em;
    color: rgb(148, 94, 14);
}

img {
    width: 6em;
    height: 6em;
}

.token{
    width: 3em;
    height: 3em;
    z-index: 3;
}

.tileTitle{
    color: blanchedalmond;
    position: relative;
    top: 3em;
    right: 1.8em;
    z-index: 2;
}

.zero {
            transform: rotate(0deg)        
      }

.ninety {
            transform: rotate(90deg)        
        }

.oneEight {
            transform: rotate(180deg)
        }

 
.twoSeven {
            transform: rotate(270deg)
        } 